<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.7">

<title>Thirty</title>
<link rel="stylesheet" th:href="@{../css/main.css}">
<link rel="icon" type="image/png" href="images/logo.png" />
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

<script
	src="https://cdn.tiny.cloud/1/3z0nvtisqrhc5nz10mzpxhg0y40arnwgbu3h7j526gimrp1e/tinymce/5/tinymce.min.js"
	referrerpolicy="origin"></script>


</head>
</html>
