:root {
	
	background-image: url(/images/fondo.jpg);
	background-size: cover;
}

.center-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10%;
}

#formulario input[type="text"],
#formulario input[type="password"] {
    width: auto;
    height: auto;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.iniciar-sesion,
.cerrar-sesion {
    font-size: 17px;
    margin-right: 10px;
    padding: 50px;
    margin-top: 14%;
}

body {
    font-family: Arial;
    padding: 0;
    background: #f1f1f1;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.header {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    background: white;
}

.iniciar-sesion,
.cerrar-sesion {
    display: inline-block;
    background-color: #9b59b6;
    color: white;
    font-weight: bold;
    width: 150px;
    text-align: center;
    padding: 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-width: 400px;
    height: 40%;
    max-height: 400px;
    background-color: #DDA0DD;
    box-sizing: border-box;
    margin: 0;
    padding-top: 0;
}

.container-header {
    background-color: #800080;
    color: white;
    padding: 10px;
    text-align: center;
}

.container-header h1 {
    margin: 0;
}

.container input,
.container button {
    width: 100%;
    max-width: 360px;
}

form {
    margin: auto;
    width: 80%;
}

.alert-red {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin: 15px auto;
    width: 80%;
}

.alert-green {
    padding: 20px;
    background-color: green;
    color: white;
    margin: 15px auto;
    width: 80%;
}

input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}